body{
    font-family: 'Merriweather', serif;
    text-align: center;
}


/* Title section */
#title{

    padding-top: 1.5%;
    background-image: url("../images/medicinal_img.jpg");
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    
}

.title-section{
    text-align: center;
    height: 300px;
    padding-top: 10%;
}


.nav-item{
    margin: 0 9px;
}

#data{
    padding-top: 50px;
}

.tree_detail{
    text-align: left;
}