<%- include('header'); -%>


    <div class="title-section">
        <h1>TREE SEARCH</h1>
        <nav class="navbar bg-transparent">
            <div class="container-fluid">
            <form class="d-flex m-auto w-50" role="search" action="/search" method="get">
                <input class="form-control me-2 border-success border-5 rounded-5" type="search" name="query" placeholder="Search" aria-label="Search" autocomplete="on">
                <button class="btn btn-success rounded-5 search-btn" type="submit">Search</button>
            </form>
            </div>
        </nav>
    </div>
</section>

<section id="category-section">
<h2 class="category-heading">Tree Categories</h2>
<div class="card-deck row ms-3 me-3 text-center">
    <div class="col-lg-3 col-md-4 ms-5 me-5 mt-4 mb-4 border-secondary">
        <div class="card border-success border-5" style="width: 18rem;">
            <img src="https://kodelife.ru/wp-content/uploads/2019/11/Moringa-2-696x464.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <div class="d-grid"> 
            <a href="/medicinal" class="btn btn-md btn-outline-success">Medicinal Plants/Trees</a>
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 ms-5 me-5 mt-4 mb-4 border-secondary">
        <div class="card border-success border-5" style="width: 18rem;">
            <img src="https://cdn.shopify.com/s/files/1/0158/9452/files/Pomegranate_header_1024x1024.jpg?v=1628273137" class="card-img-top" alt="...">
            <div class="card-body">
            <div class="d-grid"> 
            <a href="/fruit" class="btn btn-md btn-outline-success">Fruit Plants/Trees</a>
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 ms-5 me-5 mt-4 mb-4 border-secondary">
        <div class="card border-success border-5" style="width: 18rem;">
            <img src="https://t3.ftcdn.net/jpg/05/29/93/06/240_F_529930677_L9umV78q8Tobchuea4lp2Q9NViWh3qrZ.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <div class="d-grid">     
            <a href="/cactus" class="btn btn-md btn-outline-success">Cactus Plants/Trees</a>
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 ms-5 me-5 mt-4 mb-4 border-secondary">
        <div class="card border-success border-5" style="width: 18rem;">
            <img src="http://cdn.shopify.com/s/files/1/0579/7924/0580/articles/shutterstock_546199033.jpg?v=1661863846" class="card-img-top" alt="...">
            <div class="card-body">
            <div class="d-grid">  
            <a href="/flowering" class="btn btn-md btn-outline-success">Flowering Plants/Trees</a>
            </div>  
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 ms-5 me-5 mt-4 mb-4 border-secondary">
        <div class="card border-success border-5" style="width: 18rem;">
            <img src="https://images.immediate.co.uk/production/volatile/sites/10/2018/02/fc8446a2-3994-41f0-b018-e8536662b92a-a7518c9.jpg?quality=90&resize=940,627" class="card-img-top" alt="...">
            <div class="card-body">
            <div class="d-grid"> 
            <a href="/ornamental" class="btn btn-md btn-outline-success">Ornamental Plants/Trees</a>
            </div>
            </div>
        </div>
    </div>    
    <div class="col-lg-3 col-md-4 ms-5 me-5 mt-4 mb-4 border-secondary">
        <div class="card border-success border-5" style="width: 18rem;">
            <img src="https://hips.hearstapps.com/hmg-prod/images/1076/shutterstock-302853353-maskarad-opener-1515706455.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <div class="d-grid"> 
            <a href="/vegetable" class="btn btn-md btn-outline-success">Vegetable Plants/Trees</a>
            </div>
            </div>
        </div>
    </div>
</div>
</section>



<%- include('footer'); -%>