<%- include('header_category'); -%>


</section>

<section id="data" >
<div style="text-align: center;">
    <iframe  src="https://www.google.com/maps/d/embed?mid=11Apm1XbQ07MZ6idFSzu32Vr4rQ1-i38&ehbc=2E312F" width="800" height="500"></iframe>
  </div>
</section>
<%- include('footer'); -%>  